body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
}

header {
    background-color: #FEFF9F;
}

header .nav-link {
    color: #333;
    font-weight: 500;
}

header .btn-outline-success {
    border-color: #72BF78;
    color: #72BF78;
}

footer {
    background-color: #FEFF9F;
}

footer h5 {
    font-weight: bold;
}
