.hero {
	background-image: url(./images/hero_img.png);
	background-position: center;
	background-size: cover;
}

.form-doitac {
	background-color: rgb(10, 60, 0);
}

.doitac-section {
	background-image: linear-gradient(white, #feff9f);
}

.card-footer {
	background-color: green;
}

h3 {
	color: #72bf78;
}

.card:hover {
	transform: scale(1.05);
}

.card-giaiphap{
  background-color: #f8f9f4;
}

.sanpham-section{
	background-image: linear-gradient(to bottom, white, lightgreen);
}

.giaiphap-section{
	background-image: linear-gradient(to bottom, white, lightgreen);
}
