.hero{
  background-image: url(./images/hero_img.png);
  background-position: center;
  background-size: cover;
}


.form-doitac{
  background-color: rgb(10, 60, 0);
  width: 1000px;
  margin: auto;
}

.doitac-section{
  background-image: linear-gradient(white, bisque);
}

.card-footer{
  background-color: green;
}